pkgbase = grass7
	pkgdesc = Geospatial data management and analysis, image processing, graphics/maps production, spatial modeling and visualization.
	pkgver = 7.4.3
	pkgrel = 1
	url = https://grass.osgeo.org
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = doxygen
	makedepends = libxt
	depends = blas
	depends = bzip2
	depends = cairo
	depends = cfitsio
	depends = fftw
	depends = fontconfig
	depends = freetype2
	depends = gdal
	depends = geos
	depends = glu
	depends = lapack
	depends = libjpeg
	depends = libpng
	depends = libtiff
	depends = libxmu
	depends = netcdf
	depends = postgresql
	depends = proj
	depends = python2
	depends = python2-matplotlib
	depends = python2-numpy
	depends = python2-pillow
	depends = python2-termcolor
	depends = readline
	depends = subversion
	depends = unixodbc
	depends = wxgtk
	depends = wxpython
	depends = zlib
	optdepends = r: R language interface. See http://grasswiki.osgeo.org/wiki/R_statistics.
	conflicts = grass
	source = https://grass.osgeo.org/grass74/source/grass-7.4.3.tar.gz
	md5sums = 4f4462af7a95fe84ee21f3dd585dcb05

pkgname = grass7

